<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338341610850-0s98ju2u356mfa4brevuma1aouh34fup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338341610850-0s98ju2u356mfa4brevuma1aouh34fup</string>
	<key>API_KEY</key>
	<string>AIzaSyAANutJ-1dUTbRrm2UeV5-A2abENhOEvAM</string>
	<key>GCM_SENDER_ID</key>
	<string>338341610850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bartoo.business</string>
	<key>PROJECT_ID</key>
	<string>bartoo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>bartoo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338341610850:ios:43fa37f780d678aa5e983b</string>
</dict>
</plist>